<html>
   <head>
      <title>SA⁺FE SEND</title>
      <meta name = "viewport" content = "width = device-width, initial-scale = 1">
      <link rel = "stylesheet" href = "https://fonts.googleapis.com/icon?family=Material+Icons">
      <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">

      <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>

      <script type = "text/javascript" src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>

      <script>if (window.module) module = window.module;</script>

      <script>
         $(document).ready(function() {
            $('select').material_select();
         });

      </script>

      <style>
        fieldset {
              border: 0;
          }
      </style>
   </head>

   <body class = "container">
         <h1 class="header center orange-text">Add College</h1>
         <br><br>

      <div class = "row center">
        <form method="post">
         <fieldset class = "col s12 white" action = "">
            College ID <input type="text" name="college_id" id="college_id"/><br><br>
            <button class="btn waves-effect waves-light orange" type="submit">Add</button>
         </fieldset>
         </form>
      </div>


   </body>
</html>