<html>
   <head>
      <title>SA⁺FE SEND</title>
      <meta name = "viewport" content = "width = device-width, initial-scale = 1">      
      <link rel = "stylesheet" href = "https://fonts.googleapis.com/icon?family=Material+Icons">
      <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">

      <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>

      <script type = "text/javascript" src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>           
      <script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script> 
      
      <script>if (window.module) module = window.module;</script>

      <script>
         $(document).ready(function() {
            $('select').material_select();
         });


         function formdata()
         {
          name = document.getElementById('name').value;
          email = document.getElementById('email').value;
          password = document.getElementById('password').value;
          type = document.getElementById('type').value;
          if (name != "" && email!="" && password !="" && type!="")
          {
              console.log(name);
              console.log(email);
              console.log(password);
              console.log(type);
          }
         }
      </script>

      <style>
        fieldset {
              border: 0;
          }
      </style>
   </head>
   
   <body class = "container"> 
         <h1 class="header center orange-text">Register</h1>
         <br><br>
  
      <div class = "row center">
        <form method="post">
         <fieldset class = "col s12 white" action = "">
            First Name <input type="text" name="first_name" id="fname"/><br><br>
            Last Name <input type="text" name="last_name" id="lname"/><br><br>
            Email <input type="text" name="email" id="email"/><br><br>
            New Password <input type="password" name="password" id="password"/><br><br>
            <button class="btn waves-effect waves-light orange" type="submit">Submit</button>  
         </fieldset>      
         </form> 
      </div>
      

   </body>   
</html>